<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create your first Request in HalloDoc platform</title>
    <style type="text/css">
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        button.a {
            background-color: #28a745;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            display: inline-block;
        }
    </style>

</head>

<body>

    <div class="container">
        <p>Hi {{patientName}},</p>
        <p>Thank you for choosing HalloDoc for your health care needs. We are glad to have you as our valued patient.
        </p>
        <p>To Create a Request on our secure online portal. Please click on the button below to create Your First
            Request:</p>
        <button type="submit"><a href="{{createRequestLink}}">Create Request</a></button>
        <p>Once you create your request, you can log in anytime using your email and password.</p>
        <p>Thank you,</p>
        <p>HalloDoc Team</p>
    </div>

</body>

</html>