<!-- The create-account.hbs file in views folder -->
<p>Hi {{patientName}},</p>
<p>Thank you for choosing Hospital/Clinic Name for your health care needs. We are glad to have you as our valued patient.</p>
<p>To access your medical records, test results, appointment reminders, and other health information, you need to create an account on our secure online portal. Please click on the link below to create your account:</p>
<p><a href="{{createAccountLink}}">Create Account</a></p>
<p>Once you create your account, you can log in anytime using your email and password.</p>
<p>Thank you,</p>
<p>Hospital/Clinic Name</p>